#blog_content {
    font-weight: normal;
    max-width: 1200px;
    min-height: 600px;
    padding: 20px;
    margin: 20px auto 60px auto;
    position: relative;
    display: grid;
    grid-template-columns: 300px auto;
    gap: 20px;
}
#blog_content > article {
    font-size: 16px;
    max-width: 800px;
    grid-row: 1;
    grid-column: 2;
}
#blog_content > article > h1 {
    color: #BBD;
    font-size: 36px;
    font-weight: lighter;
    font-style: normal;
    line-height: 40px;
    padding: 0;
    margin: 10px 0;
    position: relative;
    float: none;
    cursor: default;
    user-select: text;
}
#blog_content > article > main > ul.link-tile-compact,
#blog_content > article > main > ul.link-tile-compact > li,
#blog_content > article > section > ul.link-tile-compact,
#blog_content > article > section > ul.link-tile-compact > li,
#blog_content > aside > nav > ul,
#blog_content > aside > nav > ul > li {
    font-size: 16px;
    position: relative;
    list-style: none;
}
#blog_content > article > h1 + section.x-part-blog-note {
    color: #808080;
    font-size: 14px;;
    margin-top: 10px;
    margin-bottom: 40px;
    cursor: default;
    user-select: none;
}
#blog_content > article > h1 + section.x-part-blog-note > a + time::before,
#blog_content > article > h1 + section.x-part-blog-note > span + time::before,
#blog_content > article > h1 + section.x-part-blog-note > time + span::before,
#blog_content > article > h1 + section.x-part-blog-note > span + span::before {
    content: "  ·  ";
}
#blog_content > article > section.x-part-blog-related {
    margin-top: 20px;
    border-width: 1px 0 0 0;
    border-style: solid none none none;
    border-color: #666;
    cursor: default;
    user-select: none;
}
#blog_content > article > section.x-part-blog-related > h2 {
    font-weight: lighter;
}
#blog_content > article > main img {
    width: 100%;
    max-width: 660px;
}
#blog_content > article > main > h1 {
    font-size: 32px;
}
#blog_content > article > main > h2 {
    font-size: 28px;
    font-weight: normal;
}
#blog_content > article > main > h3 {
    font-size: 24px;
    font-weight: normal;
}
#blog_content > article > main > h4 {
    font-size: 20px;
}
#blog_content > article > main > h5 {
    font-size: 18px;
}
#blog_content > article > main > h6 {
    font-size: 16px;
}
#blog_content > article > main > blockquote {
    border-left: 2px solid rgba(128, 128, 128, 0.6);
    padding: 0 0 0 18px;
    margin-left: 0;
    margin-right: 0;
}
#blog_content > article > main > pre {
    max-width: 640px;;
    background-color: rgba(128, 128, 128, 0.1);
    padding: 9px;
    border: 1px solid transparent;
    border-radius: 4px;
    overflow-x: auto;
    transition: 0.4s;
    scrollbar-color: rgba(128, 128, 128, 0.2) transparent;
}
#blog_content > article > main > pre:hover {
    border-color: rgba(128, 128, 128, 0.2);
    transition: 0.2s;
}
#blog_content > article:has(> main.x-part-blog-menu) {
    max-width: none;
    grid-column: 1 / -1;
}
#blog_content > article:has(> main.x-part-blog-menu) + aside {
    display: none;
}
#blog_content > aside {
    margin: 10px 0;
    position: relative;
    grid-row: 1;
    grid-column: 1;
}
#blog_content > aside > nav {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    scrollbar-color: rgba(128, 128, 128, 0.2) transparent;
}
#blog_content > aside > nav > h1,
#blog_content > aside > nav > h2,
#blog_content > aside > nav > ul {
    width: auto;
    padding: 0;
    border: 0 none transparent;
    border-radius: 0;
}
#blog_content > aside > nav > h1 {
    color: #CCC;
    font-size: 20px;
    font-weight: bolder;
    line-height: 40px;
    height: 40px;
    margin: 10px 0;
}
#blog_content > aside > nav > h2 {
    color: #CCC;
    font-size: 16px;
    font-weight: bolder;
    line-height: 30px;
    height: 30px;
    margin: 10px 0;
}
#blog_content > aside > nav > ul {
    margin-bottom: 30px;
}
@media screen and not (max-width:960px) {
    #blog_content > aside > nav > ul > li > a, #blog_content > aside > nav > ul > li > a:visited {
        line-height: normal;
        background: transparent;
        padding: 0;
        margin: 0;
        border: 0 none transparent;
    }
    #blog_content > aside > nav > ul > li > a:hover {
        text-decoration: underline;
        background: transparent;
        box-shadow: none;
    }
    #blog_content > aside > nav > ul > li > a:active {
        text-decoration: underline;
        background: transparent;
        box-shadow: none;
    }
    #blog_content > aside > nav > ul > li {
        margin: 8px 0;
        position: relative;
    }
    #blog_content > aside > nav > ul > li.grouping-header {
        padding: 0;
    }
    #blog_content > aside > nav > ul > li + li.grouping-header {
        padding-top: 20px;
    }
}
@media screen and (max-width:1030px) {
    #blog_content {
        grid-template-columns: auto 640px;
        gap: 20px;
    }
}
@media screen and (max-width:960px) {
    #blog_content {
        grid-template-columns: 100%;
    }
    #blog_content > article {
        grid-column: 1;
    }
    #blog_content > aside {
        padding: 20px 0 0 0;
        margin: 20px 0 0 0;
        border-top: 1px solid #666;
        grid-row: 2;
    }
    #blog_content > aside > nav {
        position: relative;
        top: auto;
        height: auto;
    }
    #blog_content > aside > nav > ul:first-child {
        display: none;
    }
}
